  <table border="0">
      </tr>      
        <td><span><%= @book.title %></span></td>
        <td><span><%= @book.opinion %></span></td>
        <td><% if @book.user_id == current_user.id %>
          <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
        <% end %></td>

      </tr>
  <p><%= @book.user.name %></p>