<div class="container">
  <div class="row"> 
    <div class="col-lg-3">
      </div>
        <div class="col-lg-6"> 
           <h1>Welcome to <i class="fas fa-book"><strong></i>Bookers!</strong></h1>
        </div>  <!-- この行を追加 -->
      </div>
    </div>
  </div>
</div>